<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
    
        button{
            background-color: royalblue;
            color: aliceblue;
        }
    </style>
</head>
<body>
    <h1>Email spam classifier</h1>
    <form method="post" action="/predict">
        <textarea name="email-content" placeholder="Enter your email">{{ email }}</textarea>
        <br><br>
        <div>
            <button>classify</button>
            <a href="/"> Reset</a>
        </div>
    </form>
    
    <div>
        {% if prediction %}
        {% if prediction == 1 %}
        <h2 style="color: red">Spam</h2>
        {% else %}
        <h2 style="color: green">Not Spam</h2>
        {% endif %}
        {% endif %}
        <!-- <p id="display"></p> -->
    </div>
</body>
</html>